---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeToggleButton from './buttons/ThemeToggleButton.astro';

const pages = [
    { href: '', title: 'Posts' },
    { href: '/about-me', title: 'About Me' },
    { href: '/my-projects', title: 'My Projects' }
  ]
---

<header>
  <nav class="sticky top-0 px-2 sm:px-4 py-5 text-gray-700 bg-white border-gray-200 dark:bg-gray-800 dark:text-gray-400">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a class="flex items-center" href="/">
          <img src="/public/logo.png" class="mr-1 h-9 w-9" alt="Max Dev Logo" />
          <span class="self-center text-xs hidden md:block sm:text-base md:text-xl font-semibold whitespace-nowrap dark:text-white">
      {SITE_TITLE}
          </span>
        </a>
      <div class="w-auto block">
        <ul class="flex justify-between items-center mt-0 text-sm font-medium flex-row md:space-x-8 lg:text-lg">
          {pages.map(({ href, title }) => (
            <HeaderLink
              href={href}
              title={title}
            />
          ))}
          <ThemeToggleButton/>
        </ul>
      </div>
    </div>
  </nav>
</header>
